services:
  wgrest:
    build:
      context: ./wgrest-build
      dockerfile: Dockerfile
    image: wgrest:local
    container_name: wgrest
    restart: unless-stopped
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    volumes:
      - /etc/wireguard:/etc/wireguard
    environment:
      - WGREST_LISTEN=127.0.0.1:7070
      - WGREST_AUTH_TOKEN=${WGREST_API_KEY}