listen = "0.0.0.0:${WGREST_PORT}"
api_key = "${WGREST_API_KEY}"
data_dir = "/app/data"

[interfaces.wg0]
config_path = "/etc/wireguard/wg0.conf"
subnet = "10.10.0.0/24"
endpoint = "${SERVER_IP}:${WG0_PORT}"

[interfaces.wg1]
config_path = "/etc/wireguard/wg1.conf"
subnet = "10.11.0.0/24"
endpoint = "${SERVER_IP}:${WG1_PORT}"